@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Rajdhani:wght@500;700&family=Roboto:wght@900&display=swap');

.App__list__item{
  display: flex;
  width: 800px;
  margin: 20px auto;
  transition: all 0.8s ease-out;
}

i{
 color: rgb(41, 40, 42);
 font-size: 30px;
}

i:hover{
    color: red;
    animation-name: shake;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    transition: all 0.2s ease-in;
}

table{
    width: 60%;
    margin: auto;  
}

 
table > tbody > tr{
    background-color: blanchedalmond;
    height: 50px;
    margin: 100px 0px;
    padding: 2% 5%;
    align-items: center;
    font-size: 18px;
    text-align: left;
    position: relative;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
}



 
td:nth-child(1){
    width: 100px;
    max-width: 100px;
    text-align: center;
    color: rgb(41, 40, 42);
}

td:nth-child(2){
   max-width: 600px;
   width: 600px;
   overflow:hidden;
   text-transform: capitalize;
   color: rgb(255, 255, 248);
   text-align: left; 
}
td:nth-child(3){
    max-width: 50px;
    text-align: center;
 }  


  
 
 tr:nth-child(2n){
    animation-name: leftToRight;
    animation-duration: 0.8s;
    background-color: #b088f9;
   
}

tr:nth-child(2n+1){
    animation-name: rightToLeft;
    animation-duration: 0.8s;
    background-color: #98acf8;
}


/* Animations */

@keyframes leftToRight{
    0% {left : -1000px}
    80% {left: 200px;}
    100% {left: 0px;}
 }

 @keyframes rightToLeft{
    0% {right : -1000px}
    80% {right: 200px;}
    100% {right: 0px;}
 }

 @keyframes shake{
    0% { transform: translate(2px, -2px) rotate(-10deg) scale(1.2); }
  50% { transform: translate(-2px, 2px) rotate(10deg) scale(1.2); }
  100% { transform: translate(2px, -2px) rotate(-10deg) scale(1.2); }
 }


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .App__list__item{
        width: 500px;
        margin: 20px auto;
      }
      table > tbody > tr{
        padding: 2%;
        font-size: 18px; 
      }
    
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .App__list__item{
        width: 550px;
        margin: 20px auto;
      }
      table > tbody > tr{
        padding: 2%;
        font-size: 18px; 
      }
    
  }
  
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .App__list__item{
        width: 700px;
        margin: 20px auto;
      }
    table > tbody > tr{
        padding: 2%;
        font-size: 18px; 
      }
    
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .App__list__item{
        width: 700px;
      
      }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .App__list__item{
        width: 800px;
        
      }
  
  }